*{
    margin: 0.2rem;
}
.card{
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.379);
}

.heading-section {
    display: flex;
    justify-content: space-between;
}

.values {
    display: flex;
    justify-content: space-between;
}

.values--spend, .values--balance {
    display: flex;
    justify-content: space-between;
}

h4{
    display: contents;
}